<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <base href="/"/>
  <title>CloudDrive</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/output.css"/>
  <link rel="stylesheet" href="@Assets["Atypical.VirtualFileSystem.DemoBlazorApp.styles.css"]"/>
  <ImportMap/>
  <HeadOutlet @rendermode="InteractiveServer"/>
</head>

<body class="h-screen overflow-hidden">
<Routes @rendermode="InteractiveServer"/>
<script src="_framework/blazor.web.js"></script>
<script src="js/interop.js"></script>
</body>

</html>
