<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <base href="/"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
  <link rel="stylesheet" href="_content/MudBlazor/MudBlazor.min.css" />
  <link rel="stylesheet" href="@Assets["app.css"]"/>
  <link rel="stylesheet" href="@Assets["Atypical.VirtualFileSystem.DemoBlazorApp.styles.css"]"/>
  <ImportMap/>
  <HeadOutlet @rendermode="InteractiveServer"/>
</head>

<body>
<Routes @rendermode="InteractiveServer"/>
<script src="_framework/blazor.web.js"></script>
<script src="_content/MudBlazor/MudBlazor.min.js"></script>
</body>

</html>